<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 <div>
  <input   type="text" [(ngModel)] ='number1'/>
  {{ btnvalue }} 
  <input type="text" [(ngModel)] ='number2'/>
= {{result}} <br><br>
<button (click)= 'Add()' type="button" >+  </button>
<button (click)= 'Subtract()' type="button" >-  </button>
<button (click)= 'Multiply()' type="button" >*  </button>
<button (click)= 'Divide()' type="button" >/  </button>
<button (click)= 'Clear()' type="button" >Clear</button>
 </div>

 